# Extracted from https://github.com/ulrich/macaron-factory/blob/master/.gitignore
# Ignore all dotfiles...
.*
# Ignore vim files
*~
# except for .gitignore
!.gitignore
!.travis.yml

# Ignore Play! working directory #
bin
db
eclipse
lib
log
logs
modules
precompiled
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
test-result
server.pid
*.iml
*.eml
