@(politician:Politician)(implicit lang: Lang)

<div class="media politician">
    <a class="pull-right" href="#">
        @tags.portrait(politician.id)
    </a>
    <div class="media-body">
        <h4 class="media-heading"></h4>
        <dl class="dl-horizontal">
            <dt>@Messages("politician"):</dt>
            <dd>@Messages("politician.name", politician.firstname, politician.lastname)</dd>

            <dt>@Messages("party"):</dt>
            <dd>@politician.party</dd>

            <dt>@Messages("constituency"):</dt>
            <dd>@politician.constituency</dd>
        </dl>
    </div>
</div>
